.headerContainer {
  /* background-color: red; */
  display: flex;
  padding: 35px 0px;
  padding-left: 30px;
  gap: 40px;
}

.navigation {
  display: flex;
  gap: 25px;
}

.logo {
  img {
    width: 100px;
  }
}

.rule {
  height: 2px;
  background-color: blue;
}
